// src/css/Community.scss

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.comm-top {
  position: relative;
  overflow: auto; /* 컨텐츠가 길어질 때 스크롤이 생기도록 설정 */
  width: 80%;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;

  .nullList {
    width: 50%;
    height: 50vh;
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    padding-top: 30%;
    border: 1px solid darkgray;
    color: #888;
  }

  .navbar {
    color: #fff;
    padding: 3px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* 높이를 고정하여 중앙에 배치 */

    .commTitle {
      color: rgba(0, 0, 0, 0.932);
      font-size: 2em;
      margin: 0;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .textButton {
    background-color: white;
    color: #090b2c;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    z-index: 1;
    position: sticky;
    bottom: 0; /* 하단에 고정 */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add margin-top to move the button down */

    &:hover {
      background-color: #f1f1f1;
    }
  }

  .textList {
    width: 70%;
    margin: 0 auto;
    line-height: 2;
    padding: 10px;

    .communityList {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      border-bottom: 1px solid darkgray;
      margin-bottom: 10px;

      .postHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
        margin-bottom: 10px;

        h3 {
          font-size: 1.4em;
          margin: 0;
          font-weight: bold;
          text-align: left;
          flex: 1;
        }

        .postNumber {
          margin-right: 10px;
        }

        .postDate {
          font-size: 14px;
          color: #888;
        }
      }

      p {
        font-size: 16px;
      }

      button {
        background-color: white;
        color: #008cba;
        border: 1px solid #ddd;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-right: 5px;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .box {
    height: 20px;
  }

  &::after {
    clear: both;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #4caf50;
      color: white;
      border: 1px solid #4caf50;
    }
  }
}
