@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

.layout {
  width: 100%;
  height: 100%;
  scrollbar-width: auto;
  margin: auto;
}

@font-face {
  font-family: 'NPSfontBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
