.TBox {
  width: 42%;
}
.left_map {
  text-align: center;
  font-family: 'NPSfontBold';
  margin-bottom: 2%;
  margin-top: 60px;

  & h1 {
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: 600;
  }
  .left_p {
    font-family: 'Noto Sans KR';
    text-align: center;
  }
}

.TMapAge {
  text-align: right;
  width: 40%;
  font-size: 1em;
  margin-left: 57%;
  font-family: 'Noto Sans KR';
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;

  & span {
    margin-right: 0.3125rem;
  }

  & img {
    width: 16px;
    height: 24px;
  }
}

.markText {
  width: 500px;
  height: 200px;
}

.tmap-container {
  display: flex;
  flex-direction: column;
  width: 90%;

  .tmap-box {
    width: 70%;
  }
  .additional-info {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    font-family: 'Noto Sans KR';

    & h2 {
      padding-left: 40px;
      font-family: 'Noto Sans KR';
      font-size: 1.1em;
    }

    .tmap-text {
      line-height: 2;
      font-weight: 600;
      font-family: 'Noto Sans KR';
      & h3 {
        margin-bottom: 20px;
        font-size: 1.3em;
      }
      & p {
        text-align: left;
      }
    }
  }

  .t-button {
    font-family: 'Noto Sans KR';
    background: transparent;
    color: black; /* 글자 색상 변경 */
    background-color: rgba(#6859d9, 0.3);
    font-weight: bold;
    font-size: medium; /* 글자 크기 키움 */
    padding: 5px 10px; /* 버튼 크기 조정 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
    margin-top: 20px;
    margin-left: 30px;
  }
}
