.top-button-container {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1000;
}

.top-button {
  background-color: #f0a212;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0c87f;
  }
}
